<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PicProfile{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <h1>PicProfile</h1>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/upload">Upload</a>
        </div>
    </nav>

    <!-- CONTENT -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2026 PicProfile</p>
    </footer>

</body>
</html>